- provide(:title, 'About')

.team-profile
  %h1 Team


  .col-md-4
    .col-md-4
      =image_tag("team/photo-scottzhang.png", alt: "Scott Zhang", class:"photo")
    .col-md-8
      .name Scott Zhang
      .role Founder
      .email
        %span
          %i.glyphicon-envelope
        =mail_to "scott.likai.zhang@gmail.com ", "scott.likai.zhang@gmail.com "
      .education The Johns Hopkins University

  .col-md-4
    .col-md-4
      =image_tag("team/photo-jiefeng.png", alt: "Jie Feng", width: "100px", class:"photo")
    .col-md-8
      .name Jie Feng
      .role Founder & Chairman
      .email
        %span
          %i.glyphicon-envelope
        =mail_to "jiefeng.hopkins@gmail.com", "jiefeng.hopkins@gmail.com"
      .education The Johns Hopkins University

  .col-md-4
    .col-md-4
      =image_tag("team/photo-chenzhenwu.jpg", alt: "Chenzhen Wu", class:"photo")
    .col-md-8
      .name Chenzhen Wu
      .role Founder
      .email
        %span
          %i.glyphicon-envelope
        =mail_to "jiefeng.hopkins@gmail.com", "chzhen.wu@hotmail.com "
      .education &Eacute;cole Polytechnique F&eacute;d&eacute;rale de Lausanne
