- provide(:title, 'About')

.team-profile
  %h1 Team

  - @team.each do |member|
    .member.col-md-4
      .col-md-4
        =image_tag(member[:image], alt: member[:name], class:"photo")
      .col-md-8
        .name=member[:name]
        .role=member[:role]
        .email
          %span
            %i.glyphicon-envelope
          =mail_to member[:email], member[:email]
        .education
          =member[:education]
          -if member.has_key?(:department)
            .department=member[:department]
        .intro
          =member[:intro]
