<div class="jumbotron">
    <h1 class="text-center">构建新家庭的快速通道</h1>
    <%= link_to image_tag("surrogacy.jpg", alt: "surrogacy", class: "center-block"), 'http://rubyonrails.org/' %>

    <div class="text-center">
    <%= link_to "寻找幸福的下一站", register_path, class: "btn btn-large btn-primary", role:"button" %>
    </div>
</div>
