:javascript
  page="#{params[:page]}"
  waterfall=true
.wf-container.stuff-container
%script#items-waterfall-tpl{:type => "text/x-handlebars-template"}
  {{#result}}
  {{#ifCond actable_type '==' 'Image'}}
  =render 'images/image'
  {{else}}
  =render 'texts/text'
  {{/ifCond}}
  {{/result}}
%script#images-waterfall-tpl{:type => "text/x-handlebars-template"}
  {{#result}}
  =render 'images/image'
  {{/result}}
%script#texts-waterfall-tpl{:type => "text/x-handlebars-template"}
  {{#result}}
  =render 'texts/text'
  {{/result}}


.tpl-container.stuff-container
%script#documents-tpl{type: "text/x-handlebars-template"}
  %table.table.table-bordered
    %thead
      %tr
        %th.col-md-2 Title
        %th.col-md-7 Descrition
        %th.col-md-3
    %tbody
      {{#result}}
      =render 'documents/document'
      {{/result}}


.calendar-container.stuff-container
%script#events-tpl{type: "text/x-handlebars-template"}
  #calendar
  =render 'events/update_event_modal'



.html-container.stuff-container



=render 'items/alter_modal'
