<div id="container" style="width: 1000px; margin: 0 auto;"></div>

<script type="text/x-handlebars-template" id="waterfall-tpl">
  {{#result}}
  <div class="item">
    <img src="{{image_url}}" width="222" />
  </div>
  {{/result}}
</script>

<script>
    $(document).ready(function(){
        $('#container').waterfall({
            itemCls: 'item',
            colWidth:222,
            gutterWidth:15,
            fitWidth:false,
            checkImagesLoaded:false,
            callbacks: {
                loadingFinished: function($loading, isBeyondMaxPage) {
                    if ( !isBeyondMaxPage ) {
                        $loading.fadeOut();
                    } else {
                        $loading.hide();
                        $('#page-navigation').show();
                    }
                },
                renderData: function (data, dataType) {
                    var tpl,template;
                    if ( dataType === 'json' ||  dataType === 'jsonp'  ) { // json or jsonp format
                        if ( data.total < 20) {
                            setTimeout(function() {
                                $('#container').waterfall('pause', function () {
                                    $('#waterfall-message').html('<p style="color:#666;">no more data...</p>');
                                    //alert('no more data');
                                });
                            },500);
                        }

                        tpl = $('#waterfall-tpl').html();
                        template = Handlebars.compile(tpl);



                        return template(data);
                    } else { // html format
                        return data;
                    }
                }
            },
            path:function(page) {
                return '/images.json?page='+page;
            }
        });
    });
</script>