%input#title.form-control{:placeholder => "Title", :type => "text"}
%input#description.form-control{:placeholder => "Description", :type => "text"}
%input#stime.form-control{:placeholder => "Start Time", :type => "text", class: "dpicker"}
%input#etime.form-control{:placeholder => "End Time", :type => "text", class: "dpicker"}

