#items-container{:style => "width: 1000px; margin: 0 auto;"}

%script#waterfall-tpl{:type => "text/x-handlebars-template"}
  {{#result}}
  {{#ifCond actable_type '==' 'Image'}}
  =render 'images/image'
  {{else}}
  =render 'texts/text'
  {{/ifCond}}
  {{/result}}

=render 'items/alter_modal'
