$hopkins-blue: #001978;
$apple-grey: #616161;
$hoppy-color: $apple-grey;


.alternative-row:nth-child(even){
  background-color: #eeeeee;
}
.alternative-row:nth-child(odd){
  background-color: #aaaaaa;
}

.inline{
  display: inline;
}
.search-panel{
  input{
    display: inline;
  }
  #search-input{
    width: 160px;
  }
  #search-confirm{
    width: 70px;
  }
  .search-type{
    @extend .inline;
    width: auto;
    color: #79a1d2;
  }
}

.waterfall-container{
  width: 1000px;
  margin: 0 auto;
}

.col-centered{
    display: table;
    float: none;
    margin: 0 auto;
}

.document{
  .QR_code{
    img{
      width: 225px;
    }
  }

}

.directUploadForm{
  @extend .middle-half;
  .field{
    /*@extend .col-md-6;*/
  }
  .progress{
    margin-bottom: 20px;
  }
  .btn-primary{
    @extend .middle-half;
  }
}

.hoverdown-menu{
  display: none;
}

.hoverdown-menu:hover .dropdown-menu{
  display: block;
}
.team-profile{
  .member{
    margin-bottom: 100px;
  }
  .intro-title{
    @extend h1;
    @extend strong;
  }
  .name{
    @extend h3;
  }
  .photo{
    width: 100px;
    padding-top: 20px;
  }
  .role{
    @extend h4;
    color: $hoppy-color;
    font-family: "Times New Roman", Georgia, Serif;
  }
  .intro{
    @extend h5;
    color: $hoppy-color;
    font-weight: bold;
  }
  .email{
    margin: 8px 0px;
  }
  .education{
    .department{
      @extend small;
      margin-top: -1px;
    }
  }
}



.intro-sec{
  background: #D7DBEB;
  margin: 5px;
  .intro-title{
    @extend h1;
    @extend strong;
  }
  .intro-text{
    @extend h4;
  }
}

.intro-sec-sec{
  margin-left: 20px;
  .intro-title {
    @extend h2;
  }
}

.middle-half{
    @extend .col-md-6;
    @extend .col-md-offset-3;
    @extend .col-lg-6;
    @extend .col-lg-offset-3;
}
.middle-third{
    @extend .col-md-4;
    @extend .col-md-offset-4;
    @extend .col-lg-4;
    @extend .col-lg-offset-4;
}
body {
  font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
  position: relative;
  padding-top: 65px;
}

.thumbnail {
  width:222px;
  /*height:350px;*/
  .txt_wrap {
    overflow: hidden;
  }

  .height_limit {
    max-height: 300px;
  }

  .selection_text{
    word-wrap: break-word;
    overflow-wrap: break-word;
    //    text-wrap: normal;
  }

  .more {
    display:none;
  }
}

.image_show {
  text-align: center;
  .image_preview {
    max-height: 400px;
  }
}


.item-image {
  width:222px;
  //height:500px;
}



.navbar {
  background-color: $hoppy-color;
  .navbar-brand {
    font-weight: 500;
    color: #f9f9f9;
    img{
      height: 120%;
      margin-top: -5px;
    }
  }
  .navbar-nav > {
    li > a {
      font-weight: 500;
      color: #f9f9f9;
      &:hover {
        color: #463265;
        background-color: #f9f9f9;
      }
    }
    .active > a {
      color: #463265;
      background-color: #f9f9f9;
      &:hover {
        color: #463265;
        background-color: #f9f9f9;
      }
    }
  }
  .navbar-toggle .icon-bar {
    background-color: #563d7c;
  }
  .navbar-header .navbar-toggle {
    border-color: #fff;
    &:hover, &:focus {
      background-color: #f9f9f9;
      border-color: #f9f9f9;
    }
  }
}


.input-group-btn{
  .btn {
    width: 55px;
    height:25px;
    margin-bottom:5px;
  }
}



.bs-docs-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  color: #777;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

.bs-docs-footer-links {
  padding-left: 0;
  margin-top: 20px;
  color: #999;
  li {
    display: inline;
    padding: 0 2px;
    &:first-child {
      padding-left: 0;
    }
  }
}


.bs-docs-social-buttons {
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  li {
    display: inline-block;
    padding: 5px 8px;
    line-height: 1;
  }
  .twitter-follow-button {
    width: 225px!important;
  }
  .twitter-share-button {
    width: 98px!important;
  }
}

.github-btn {
  overflow: hidden;
  border: 0;
}

.bs-docs-masthead, .bs-docs-header {
  position: relative;
  padding: 30px 15px;
  color: #cdbfe3;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #6f5499;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#563d7c), to(#6f5499));
  background-image: -webkit-linear-gradient(top, #563d7c 0, #6f5499 100%);
  background-image: -o-linear-gradient(top, #563d7c 0, #6f5499 100%);
  background-image: linear-gradient(to bottom, #563d7c 0, #6f5499 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
  background-repeat: repeat-x;
}

.bs-docs-masthead {
  .bs-docs-booticon {
    margin: 0 auto 30px;
  }
  h1 {
    font-weight: 300;
    line-height: 1;
    color: #fff;
  }
  .lead {
    margin: 0 auto 30px;
    font-size: 20px;
    color: #fff;
  }
  .version {
    margin-top: -15px;
    margin-bottom: 30px;
    color: #9783b9;
  }
  .btn {
    width: 100%;
    padding: 15px 30px;
    font-size: 20px;
  }
}

@media (min-width: 480px) {
  .bs-docs-masthead .btn {
    width: auto;
  }
}

@media (min-width: 768px) {
  .bs-docs-masthead {
    padding: 80px 0;
    h1 {
      font-size: 60px;
    }
    .lead {
      font-size: 24px;
    }
  }
}

@media (min-width: 992px) {
  .bs-docs-masthead .lead {
    width: 80%;
    font-size: 30px;
  }
}

.bs-docs-header {
  margin-bottom: 40px;
  font-size: 20px;
  h1 {
    margin-top: 0;
    color: #fff;
  }
  p {
    margin-bottom: 0;
    font-weight: 300;
    line-height: 1.4;
  }
  .container {
    position: relative;
  }
}

@media (min-width: 768px) {
  .bs-docs-header {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 24px;
    text-align: left;
    h1 {
      font-size: 60px;
      line-height: 1;
    }
  }
}

@media (min-width: 992px) {
  .bs-docs-header {
    h1, p {
      margin-right: 380px;
    }
  }
}

.carbonad {
  width: auto!important;
  height: auto!important;
  padding: 20px!important;
  margin: 30px -30px -31px !important;
  overflow: hidden;
  font-size: 13px!important;
  line-height: 16px!important;
  text-align: left;
  background: transparent!important;
  border: solid #866ab3!important;
  border-width: 1px 0!important;
}

.carbonad-img {
  margin: 0!important;
}

.carbonad-text, .carbonad-tag {
  display: block!important;
  float: none!important;
  width: auto!important;
  height: auto!important;
  margin-left: 145px!important;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
}

.carbonad-text {
  padding-top: 0!important;
}

.carbonad-tag {
  color: inherit!important;
  text-align: left!important;
}

.carbonad-text a, .carbonad-tag a {
  color: #fff!important;
}

.carbonad #azcarbon > img {
  display: none;
}





.bs-navbar-top-example, .bs-navbar-bottom-example {
  z-index: 1;
  padding: 0;
  overflow: hidden;
}

.bs-navbar-top-example .navbar-header, .bs-navbar-bottom-example .navbar-header {
  margin-left: 0;
}

.bs-navbar-top-example .navbar-fixed-top, .bs-navbar-bottom-example .navbar-fixed-bottom {
  position: relative;
  margin-right: 0;
  margin-left: 0;
}

.bs-navbar-top-example {
  padding-bottom: 45px;
  &:after {
    top: auto;
    bottom: 15px;
  }
  .navbar-fixed-top {
    top: -1px;
  }
}

.bs-navbar-bottom-example {
  padding-top: 45px;
  .navbar-fixed-bottom {
    bottom: -1px;
  }
  .navbar {
    margin-bottom: 0;
  }
}




// debug box
$grayMediumLight: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box-sizing;
}

input {
  height: auto !important;
}

.title{
    text-align: center;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:last-child {
      border-bottom: 1px solid $gray-lighter;
    }
  }
}
.progress {
  max-width: 600px;
  margin:    0.2em 0 0.2em 0;
}

.progress .bar {
  height:  1.2em;
  padding: 0.2em;
  color:   white;
  display: none;
}
.search-bar{
}
