/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.thumbnail {
  width:222px;
  /*height:350px;*/
  .selection_text{
    word-wrap: break-word;
    overflow-wrap: break-word;
//    text-wrap: normal;
  }
}