.item.thumbnail
  %a.close
    %span.glyphicon.glyphicon-remove
  -#.caption
  .txt_wrap.height_limit
    %h5.selection_text {{selection_text}}
  %p
    %p
      %p
        %a.more
          %span.glyphicon.glyphicon-arrow-down More
