- provide(:title, 'All Texts')
#texts-container.waterfall-container{:style => "width: 1000px; margin: 0 auto;"}
%script#waterfall-tpl{:type => "text/x-handlebars-template"}
  {{#result}}
  =render 'texts/text'
  {{/result}}



-#%h1 All Awesome Texts
-#= will_paginate @texts, renderer: BootstrapPagination::Rails
-#%ul.texts= render @texts
-#= will_paginate @texts, renderer: BootstrapPagination::Rails


=render 'items/alter_modal'
