.item.thumbnail
  %img.img-thumbnail{:src => "{{image_url}}"}/
  .caption
    %h3 {{title}}
    %p
      {{description}}
      %p
        %p
        %a.btn.btn-default{"data-target" => "#item_modal", "data-toggle" => "modal", :href => "#", :role => "button"} More
        %a.close
          %span.btn.glyphicon.glyphicon-remove.delete-item{"item-id" => "{{item_id}}", 'data-toggle'=>'modal', 'data-target' => '#item_delete_modal'}



