.item.thumbnail{"data-item-id" => "{{item_id}}" }
  %img.img-thumbnail{:src => "{{image_url}}"}/
  .caption
    %h3 {{title}}
    %p
      {{description}}
      %p
        %p
        %a.btn.btn-default{"data-target" => "#item_modal", "data-toggle" => "modal", :href => "#", :role => "button"} More
        %a.close
          %span.glyphicon.glyphicon-remove


