- provide(:title, 'All Images')
%h1 All Awesome Images
= will_paginate @images, renderer: BootstrapPagination::Rails
%ul.images= render @images
= will_paginate @images, renderer: BootstrapPagination::Rails