= provide(:title, @image.title)
.item.thumbnail
  %a.fancybox.image-fancybox.fancybox-thumbs{:href => "{{image_url}}", :title => "{{title}}", :overlay=> "{{description}}", :rel=>"fancybox-thumbs", 'data-fancybox-group' => 'thumb'}
    %img.img-thumbnail{:src => '#{@image.image_url}', :alt => '' }
  .captioe
    %h3.img-title '#{@image.title}'
    %p.img-detail '#{@image.description}'

    %a.btn.btn-default{"data-target" => "#item_modal", "data-toggle" => "modal", :href => "#", :role => "button"} More
    %a.close
      %span.btn.glyphicon.glyphicon-remove.delete-item{"item-id" => "{{item_id}}", 'data-toggle'=>'modal', 'data-target' => '#item_delete_modal'}
