= provide(:title, @image.title)
.alert.alert-success{:role => "alert"}
  Your image has been uploaded! Click
  %a{:href => "/images"} here
  to back

.image_show
  %img.image_preview{:src => @image.image_url, :alt => '' }
  .captioe
    %h3.img-title #{@image.title}
    %p.img-detail #{@image.description}
