<!--<footer class="bs-docs-footer" role="contentinfo">-->
    <!--<div class="container">-->
        <!--<div class="bs-docs-social">-->
            <!--<ul class="bs-docs-social-buttons">-->
                <!--<li>-->
                <!--<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=twbs&amp;repo=bootstrap&amp;type=watch&amp;count=true" width="100" height="20" title="Star on GitHub"></iframe>-->
                <!--</li>-->
                <!--<li>-->
                <!--<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=twbs&amp;repo=bootstrap&amp;type=fork&amp;count=true" width="102" height="20" title="Fork on GitHub"></iframe>-->
                <!--</li>-->
                <!--<li class="follow-btn">-->
                <!--<iframe id="twitter-widget-1" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.1407888064.html#_=1408472419680&amp;id=twitter-widget-1&amp;lang=en&amp;screen_name=twbootstrap&amp;show_count=true&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button" data-twttr-rendered="true" style="width: 237px; height: 20px;"></iframe>-->
                <!--</li>-->
                <!--<li class="tweet-btn">-->
                <!--<iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/tweet_button.1407888064.html#_=1408472419666&amp;count=horizontal&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fgetbootstrap.com%2F&amp;related=mdo%3ACreator%20of%20Bootstrap&amp;size=m&amp;text=Bootstrap&amp;url=http%3A%2F%2Fgetbootstrap.com%2F&amp;via=twbootstrap" class="twitter-share-button twitter-tweet-button twitter-share-button twitter-count-horizontal" title="Twitter Tweet Button" data-twttr-rendered="true" style="width: 107px; height: 20px;"></iframe>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->


        <!--<p>Designed and built with all the love in the world by <a href="http://twitter.com/mdo" target="_blank">@mdo</a> and <a href="http://twitter.com/fat" target="_blank">@fat</a>.</p>-->
        <!--<p>Maintained by the <a href="https://github.com/twbs?tab=members">core team</a> with the help of <a href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.</p>-->
        <!--<p>Code licensed under <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank">MIT</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>-->
        <!--<ul class="bs-docs-footer-links muted">-->
            <!--<li>Currently v3.2.0</li>-->
            <!--<li>·</li>-->
            <!--<li><a href="https://github.com/twbs/bootstrap">GitHub</a></li>-->
            <!--<li>·</li>-->
            <!--<li><a href="../getting-started/#examples">Examples</a></li>-->
            <!--<li>·</li>-->
            <!--<li><a href="../2.3.2/">v2.3.2 docs</a></li>-->
            <!--<li>·</li>-->
            <!--<li><a href="../about/">About Us</a></li>-->
            <!--<li>·</li>-->
            <!--<li><a href="http://expo.getbootstrap.com">Expo</a></li>-->
            <!--<li>·</li>-->
            <!--<li><a href="http://blog.getbootstrap.com">Blog</a></li>-->
            <!--<li>·</li>-->
            <!--<li><a href="https://github.com/twbs/bootstrap/issues?state=open">Issues</a></li>-->
            <!--<li>·</li>-->
            <!--<li><a href="https://github.com/twbs/bootstrap/releases">Releases</a></li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</footer>-->
