%nav.navbar.navbar-default.navbar-fixed-top#navbar{:role => "navigation"}
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
      %a{:href => root_path, :class=>"navbar-brand"}
        =image_tag("title_logo.png", alt: "JNote")
    .navbar-header.form-group.search-panel.inline
      %input.goto.form-control{type:"button", value:"All", gotourl:'items'}
      %input.goto.form-control{type:"button", value:"Image", gotourl:'images'}
      %input.goto.form-control{type:"button", value:"Text", gotourl:'texts'}
      %input.goto.form-control{type:"button", value:"Doc", gotourl:'/documents'}
      %input.goto.form-control{type:"button", value:"Calendar", gotourl:'/events'}
      %input.goto.form-control{type:"button", value:"Team", gotourl:'/team'}
      %input.goto.form-control{type:"button", value:"Help", gotourl:'/help'}
      %input#search-input.form-control{placeholder: "Your keywords here"}
      %input#search-confirm.form-control{type:"button", value:"Search"}
    .collapse.navbar-collapse.inline
      %ul.nav.navbar-nav.navbar-right
        = render 'layouts/signin'
    / /.navbar-collapse
  / /.container
= render 'events/new_modal'
= render 'images/new_modal'
= render 'documents/new_modal'
#not-Signedin-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-body.text-center
        You haven't signin, please signin or signup!
%input#signed_in{type:"hidden"}